# Web-scrapping jobs from karatina university website

### NOTE: This project is for learing purposes only

This Prpject aims at scrapping jobs listed at karatina university website. 
The details to be extracted are job Title, job Grade, No of positions to be filled Positions and Reference Number
The data will then be stored in Karu_jobs.csv and karu_jobs.db files

In [68]:
# Import all neccessary modules
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup

In [69]:
#define the url to fetch data from
url = "https://karu.ac.ke/past-jobs-karatina-university-page/"
#Declare files to store extracted data
karu_jobs = "karu_jobs.csv"
karu_careers = "karu_jobs.db"
# Define a dataframe variable to store job Title, job Grade, No of positions to be filled Positions and Reference Number
df = pd.DataFrame(columns= ["Job_Title", "Job_Grade", "No_Of_Positions", "Reference_No"])
count = 0

In [70]:
#Access the contents of the webpage
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

In [71]:
#Scrap the target table data
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

In [103]:
#Iterate over the content of the table rows and append each row to the dataframe

for row in rows:
    if count<50:
        col = row.find_all('td')
        if len(col)!=0:
            data_dict = {"Job_Title": col[1].contents[2],
                         "Job_Grade": col[2].contents[0],
                         "No_Of_Positions": col[3].contents[0],
                        "Reference_No": col[4].contents[0]}
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df,df1], ignore_index=True)
            count+=1
    else:
        break

In [105]:
#View the scrapped data
print(df)

                     Job_Title Job_Grade No_Of_Positions Reference_No
0                           \n        \n              \n           \n
1                           \n        \n              \n           \n
2                           \n        \n              \n           \n
3                           \n        \n              \n           \n
4                           \n        \n              \n           \n
5                           \n        \n              \n           \n
6                           \n        \n              \n           \n
7                           \n        \n              \n           \n
8                           \n        \n              \n           \n
9                           \n        \n              \n           \n
10                          \n        \n              \n           \n
11                          \n        \n              \n           \n
12                          \n        \n              \n           \n
13                          \n        \n              \n           \n
14                          \n        \n              \n           \n
15                          \n        \n              \n           \n
16                          \n        \n              \n           \n
17                          \n        \n              \n           \n
18                          \n        \n              \n           \n
19                          \n        \n              \n           \n
20                          \n        \n              \n           \n
21                          \n        \n              \n           \n
22                          \n        \n              \n           \n
23                          \n        \n              \n           \n
24                          \n        \n              \n           \n
25                          \n        \n              \n           \n
26                          \n        \n              \n           \n
27                          \n        \n              \n           \n
28                          \n        \n              \n           \n
29                          \n        \n              \n           \n
30                          \n        \n              \n           \n
31                          \n        \n              \n           \n
32                          \n        \n              \n           \n
33                          \n        \n              \n           \n
34                          \n        \n              \n           \n
35                          \n        \n              \n           \n
36                          \n        \n              \n           \n
37                          \n        \n              \n           \n
38                          \n        \n              \n           \n
39                          \n        \n              \n           \n
40                                    \n              \n           \n
41                    1.              \n              \n           \n
42                    2.              \n              \n           \n
43                    3.              \n              \n           \n
44                    4.              \n              \n           \n
45  [NON – ACADEMIC POSITIONS]        \n              \n           \n
46                    5.              \n              \n           \n
47                    6.              \n              \n           \n
48                    7.              \n              \n           \n
49                    8.              \n              \n           \n